<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/hello.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Welcome Page</title>
</head>
<body style="background-color: #10042c; font-family: 'Raleway', sans-serif;">
<nav class="nav justify-content-center topnav">
    <a class="nav-link px-sm-5 px-4 topnav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">MANAGE</a>
    <a class="nav-link px-sm-5 px-4 topnav-link d-none d-lg-block" href="#">HOME</a>
    <a class="nav-link px-sm-5 px-4" href="#">
        <img src="img/tramco-high-resolution-logo-transparent.png" alt="">
    </a>
    <a class="nav-link active px-sm-5 px-4 topnav-link" th:href="@{/}" th:action="@{/logout}">LOGOUT</a>
    <a class="nav-link px-sm-5 px-4 topnav-link d-none d-lg-block" href="#">ABOUT</a>
</nav>
<div class="container main-content">
    <div class="row">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">TABLES</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                    <ul>
                        <li><a class="dropdown-item" th:href="@{/showAdresy}">ADRESY</a></li>
                        <li><a class="dropdown-item" th:href="@{/showPoczty}">POCZTY</a></li>
                        <li><a class="dropdown-item" th:href="@{/showPracownicy}">PRACOWNICY</a></li>
                    </ul>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">imie</th>
                    <th scope="col">nazwisko</th>
                    <th scope="col">data_urodzenia</th>
                    <th scope="col">pesel</th>
                    <th scope="col">plec</th>
                    <th scope="col">nr_konta</th>
                    <th scope="col">koniec_umowy</th>
                    <th scope="col">id_biura</th>
                    <th scope="col">id_zajezdni</th>
                    <th scope="col">id_adresu</th>
                    <th scope="col">id_stanowiska</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pracownik: ${pracownicy}">
                    <td th:text="${pracownik.imie}" scope="row">imie</td>
                    <td th:text="${pracownik.nazwisko}" scope="row">nazwisko</td>
                    <td th:text="${pracownik.data_urodzenia}" scope="row">data_urodzenia</td>
                    <td th:text="${pracownik.pesel}" scope="row">pesel</td>
                    <td th:text="${pracownik.plec}" scope="row">plec</td>
                    <td th:text="${pracownik.nr_konta}" scope="row">nr_konta</td>
                    <td th:text="${pracownik.koniec_umowy}" scope="row">koniec_umowy</td>
                    <td th:text="${pracownik.id_biura}" scope="row">id_biura</td>
                    <td th:text="${pracownik.id_zajezdni}" scope="row">id_zajezdni</td>
                    <td th:text="${pracownik.id_adresu}" scope="row">id_adresu</td>
                    <td th:text="${pracownik.id_stanowiska}" scope="row">id_stanowiska</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>