<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/hello.css">
    <link rel="stylesheet" href="css/show.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Welcome Page</title>
</head>
<body style="background-color: #10042c; font-family: 'Raleway', sans-serif;">
<nav class="nav justify-content-center topnav">
    <a class="nav-link px-sm-5 px-4 topnav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">VIEW</a>
    <a class="nav-link px-sm-5 px-4 topnav-link d-none d-lg-block" th:href="@{/user}">HOME</a>
    <a class="nav-link px-sm-5 px-4" href="#">
        <img src="img/tramco-high-resolution-logo-transparent.png" alt="">
    </a>
    <a class="nav-link active px-sm-5 px-4 topnav-link" th:href="@{/}" th:action="@{/logout}">LOGOUT</a>
    <div class="nav-link px-sm-5 px-4 topnav-link" ></div>
</nav>
<div class="container main-content">
    <div class="row">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">TABLES</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <li><a class="dropdown-item" th:href="@{/userAdresy}">ADRESY</a></li>
                    <li><a class="dropdown-item" th:href="@{/userPoczty}">POCZTY</a></li>
                </ul>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th scope="col">id_adresu</th>
                <th scope="col">miasto</th>
                <th scope="col">ulica</th>
                <th scope="col">nr_budynku</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adres: ${adresy}" class="table-row">
                <td th:text="${adres.id_adresu}" th:class="id" scope="row">id_adresu</td>
                <td th:text="${adres.miasto}" th:class="miasto" scope="row">miasto</td>
                <td th:text="${adres.ulica}" th:class="ulica" scope="row">ulica</td>
                <td th:text="${adres.nr_budynku}" th:class="budynek" scope="row">nr_budynku</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>